// Base widths used for responsive states in media queries

$gutter-width: 1%;
$breakpoint_micro: 400px;
$breakpoint_mini: 480px;
$breakpoint_small: 600px;
$breakpoint_inter: 700px;
$breakpoint_medium: 768px;
$breakpoint_large: 860px;
$breakpoint_big: 1000px;
$breakpoint_massive: 1200px;
